@import '../../../scss-base/vars.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.line {
  position: absolute;
  height: 8px;
  top: 4px;
  left: 4px;
  right: 4px;
  background: #d8d8d8;
  z-index: -1;
}

.progress {
  background: $ui-color;
}
