@font-face {
  font-family: 'SBSansInterface';
  src: url('../fonts/SBSansInterfaceRegular.woff2') format('woff2'),
    url('../fonts/SBSansInterfaceRegular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'SBSansInterface';
  src: url('../fonts/SBSansInterfaceSemibold.woff2') format('woff2'),
    url('../fonts/SBSansInterfaceSemibold.woff') format('woff');
  font-weight: 600;
}
