@import '../../../scss-base/vars.scss';

.input {
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 12px;
  border-radius: $ui-border-radius;
  color: #0000007a;
  border: 1px solid #e0e0e0;
}
