@import '../../../scss-base/vars.scss';

.link {
  color: $ui-color;
  position: relative;
  padding-left: 20px;
  transition: color 0.15s;

  &:hover {
    color: $ui-hover-color;
  }

  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../../../img/icons/folder.svg') center/cover no-repeat;
    left: 0;
    top: 1px;
  }
}
